<!DOCTYPE html>
<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <body>
    <table id="scheldule">
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>Online</th>
        <th>Switch</th>
      </tr>
  {% for (key, schedObject) in scheduleList %}
      <tr>
        <td><a href=/edit?name={{key}}>{{ schedObject['name'] }}</a></td>
        <td>{{ schedObject['ip'] }}</td>
        <td class="{{ schedObject.get_status() }}">{{ schedObject.get_status() }}</td>
        <td>{{ schedObject['online'] }}</td>
        <td>
           <form method="POST">
             <input type=hidden name=name value={{key}}>
             <input type=hidden name=action value=toggle>
             <input type=submit class=button value=Toggle>
           </form>
        </td>
     </tr>
  {% endfor %}
    </table>
  </body>
</html>
