<!DOCTYPE html>
<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <body>
    <table id="scheldule">
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>Switch</th>
        <th>Edit</th>
      </tr>
  {% for (key, schedObject) in scheduleList.items() %}
      <tr>
        <td>{{ schedObject['name'] }}</td>
        <td>{{ schedObject['ip'] }}</td>
        <td class="{{ schedObject['status'] }}">{{ schedObject['status'] }}</td>
        <td>
           <form method="POST">
             <input type=hidden name=name value={{key}}>
             <input type=hidden name=action value=toggle>
             <input type=submit class=button value=Toggle>
           </form>
        </td>
        <td>
           <form method="POST">
             <input type=hidden name=name value={{key}}>
             <input type=hidden name=action value=edit>
             <input type=submit class=button value=Edit>
           </form>
        </td>
      </tr>
  {% endfor %}
    </table>
  </body>
</html>
